body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.invalid .help-block {
    color: red;
}

.invalid input {
    background-color: #f2dede;
}

.dicussion-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.discussion-info {
    float: right;
}

.likes {
    margin-left: 10px;
}

.dislikes {
    margin-left: 10px;
}

.discussion-edit-time {
    margin-left: 10px;
}

.create-discussion {
    float:right;
}

.discussion-page-header h1 {
    display: inline;
}

.sign-out-button {
    cursor: pointer;
}

.container {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#signInContainer {
  padding-left: 30%;
  padding-right: 30%;
}
